
@use "./variables.scss" as*;
@use "./mediaq.scss" as*;



.contenedor-principal {
    background-color: burlywood;
    display: grid;
    grid-template-areas:
        "texto5 texto5 texto5"
        "producto1 producto2 producto3" 
        "texto6 texto6 texto6"
        "subtexto5 subtexto5 subtexto5"
        "formulario formulario formulario"
        ;
       
    grid-template-columns: 30% 30% 30%; 
    grid-template-rows: auto auto auto;
    justify-items: center; 
    align-items: center; 
    justify-content: center;

      
.titulo1 {
        grid-area: texto5;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
         @include estilo-titulo;

    }
    .contenedor-imagen1 {
        grid-area: producto1;
        max-width: 100%;
     
        border-radius: 10px;
        margin: 15px;
        border: red 2px solid;
    }
       
        .contenedor-imagen2 {
        grid-area: producto2;
        max-width: 100%;
     
        border-radius: 10px;
        margin: 15px;
        border: red 2px solid;
    }
     .contenedor-imagen3 {
        grid-area: producto3;
        max-width: 100%;
     
        border-radius: 10px;
        margin: 15px;
        border: red 2px solid;
    }
    



    img {
       max-width: 100%;
     
        border-radius: 10px;
        margin: 15px;
        border: red 2px solid;
      
    }
    img:hover {
        transform: scale(1.05); /* Aumenta el tamaño al pasar el mouse */
        transition: transform 0.3s ease; /* Suaviza la transición */
        border: rgb(0, 0, 0) 2px solid; /* Cambia el borde al pasar el mouse */
    }

      .titulo2 {
        grid-area: texto6;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
         @include estilo-titulo;

    }

    .subtexto1 {
        grid-area: subtexto5;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
         @include estilo-titulo;

    }
    .formulario-contacto {
        grid-area: formulario;
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 50%;
    }

  }